.header-nav ul li {
display: inline.header-nav ul li0---------------------------------------+---block

;
}

.header-nav ul li a {
  text-decoration: none;
}

.header-nav ul {
  list-style: none;
}

.wrapper .block-1 {
  display: block;
}

 .wrapper .block-2 {
   display: none;
 }

 .wrapper:hover .block-1 {
   display: none;
 }

 .wrapper:hover .block-2 {
   display: block;
 }

 .visually-hidden {
   display: none;
 }

 .news-text {

 }
